.wpex_gallery_images .details.attachment { box-shadow: none }
.wpex_gallery_images .image > div { width: 80px; height: 80px; box-shadow: none; }
.wpex_gallery_images .attachment-preview { position: relative; padding: 4px; }
.wpex_gallery_images .attachment-preview .thumbnail { cursor: move }	
.wpex_gallery_images .wc-metabox-sortable-placeholder{width: 80px;height: 80px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;border:4px dashed #ddd;background:#f7f7f7 url("watermark.png") no-repeat center}		
.wpex_gallery_images .wpex-gmb-remove {background: #eee url("delete.png") center center no-repeat;position: absolute;top: 2px;right: 2px;border-radius: 2px;padding: 2px;display: none;width: 10px;height: 10px;margin: 0;display: none;overflow: hidden;}	
.wpex_gallery_images .image div:hover .wpex-gmb-remove { display: block }
.wpex_gallery_images:after, #wpex_gallery_images_container:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#wpex_gallery_images_container ul { margin: 0 !important }
.wpex_gallery_images > li { float: left; cursor: move; margin: 9px 9px 0 0; }
.wpex_gallery_images li.image img { width: 80px; height: 80px; }
.wpex_gallery_images .attachment-preview:before { display: none !important; }